*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #242a40;
}

.header{
    display: inline-block;
    width: 100%;
    background-color: #2d4159;
    height: 160px;
    border-bottom-left-radius: 26%;
    border-bottom-right-radius: 26%;
    border-bottom: 2px solid white;
}


.title{
    width: 60%;
    margin: auto;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 45px;
    text-align: center;
    line-height: 100px;
    animation-name: ex;
    animation-duration: 4s;
    position: relative;
    animation-iteration-count: infinite;

    
}

@keyframes ex {
    0% {top: 0; bottom: 0;}
    25%{top: 20px; bottom: 0; transition: 5s;}
    50%{bottom: 20px; top: 0; transform: rotateX(120deg); color: #e78230;}
    75%{top: 20px; bottom: 20px; text-shadow: 2px 2px black;}
    100%{top: 0; bottom: 0;}
}

.left-bars{
    float: left;
    width: 10%;
    margin-top: 80px;
    margin-left: 20px;
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.profile{
    float: right;
    width: 60px;
    border-radius: 50%;
    height: 60px;
    background-color: #4c5b78;
    font-size: 35px;
    text-align: center;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    line-height: 60px;
    margin-top: -80px;
    color: white;
}

/* style for middle container */

.midle-container{
    background-color: #e78230;
    width: 340px;
    margin: auto;
    height: 80px;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    padding: 14px 10px;
}

.nest-midle-left{
    width: 50%;
    display: flex;
    float: left;
    height: 50px;
    margin: 5px;
    text-align: center;
    justify-content: center;
    line-height: 35px;
    color: white;
    font-family: monospace;
    font-size: 12px;
    border-right: 2px solid white;
    flex-direction: row;
}
.nest-midle-right{
    width: 50%;
    display: flex;
    float: right;
    height: 50px;
    margin: 5px;
    text-align: center;
    justify-content: center;
    line-height: 35px;
    color: white;
    font-family: monospace;
    font-size: 12px;
}

.midle-column{
    background-color: #31455d;
    width: 340px;
    margin: auto;
    height: 80px;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    padding: 14px 10px;
    justify-content: center;
    justify-items: center;
}

.left-icon{
    float: left;
    width: 15%;
    height: 50px;
    text-align: center;
    font-size: 40px;
    color: #ec8631;
}

.icon-title{
    width: 80%;
    text-align: center;
    margin-left: 10px;
    font-size: 10px;
    
}

h2{
    font-family: monospace;
    line-height: 55px;
    color: white;
    text-align: center;
}

.midle-column-1{
    background-color: #31455d;
    width: 340px;
    margin: auto;
    height: 80px;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    padding: 14px 10px;
}

.midle-column-2{
    background-color: #31455d;
    width: 340px;
    margin: auto;
    height: 80px;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    padding: 14px 10px;
}

.btn-up-de{
    width: 300px;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    margin-left: 54px;
    height: 50px;
    margin-top: 40px;
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.end-column > h2{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    
}






/* styling the html page */

.top-header{
    width: 100%;
    height: 80px;
    background-color: #2d4159;
    display: flex;
}

.icon{
    width: 50px;
    height: 50px;
    float: left;
    font-size: 40px;
    text-align: center;
    margin-top: 15px;
    margin-left: 10px;
    display: flex;
    color: #ec8631;
}

.Q-title{
    display: flex;
    width: 55%;
    color: white;
    height: auto;
    margin-left: 30px;
    justify-content: center;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 72px;
    font-size: 12px;
}

.close-icon{
    width: 100px;
    height: auto;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    color: white;
}

.Q-number{
    width: 130px;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    margin-top: 95px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    
}


.Q-time{
    float: right;
    margin-right: 20px;
    margin-top: -30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.Q-container{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 55px;
    font-family: monospace;
    font-size: 16px;
    color: white;
    padding:  12px;
   
}


a{
    text-decoration: none;
}




.btn{
    width: 300px;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: #e78230;
    margin-left: 54px;
    height: 50px;
    margin-top: 40px;
    font-size: 22px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#A{
    background-color: #e78230;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
}

.inputs-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#btn-btn{
    width: 300px;
    border: none;
    padding: 4px;
    border-radius: 34px;
    margin: 5px;
    margin-left: 54px;
}

#left-side{
    float: left;
    background-color: #e88331;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 48px;
    font-size: 22px;
    color: #ffffff;

}

#center{
    line-height: 48px;
    text-align: left;
    font-size: 12px;
}